        image{
            float:right;
        }

        Body {
                background-color: #f3dfbf;
                padding-left: 2rem;
                padding-right: 2rem;
             }


        h1 {
            color: #eb8a90;
            background-color: #087e8b;
            text-align: center; 
            padding: 20px;
            letter-spacing: .1em;
            font-family:'Tilt Prism';
            text-transform:uppercase;
             }
            
        p {
         padding-left: 1.3rem;
         padding-right:1.3rem;
         line-height: 1.5rem;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
             
        h2 {
            color: #eb8a90;
            background-color: #087e8b;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: .09em;
            font-family:'Tilt Prism';
            }

        a:link  {
            color:darkcyan;
            text-decoration: none;
        }        
        a:visited {
            color: fuchsia;
            text-decoration: none;
        }
        a:hover {
            color:cornflowerblue;
            text-decoration: underline;
        }
        a:active {
            color:black
        }