body{
    background-color: whitesmoke;
    margin: 0 auto;
}

header{
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: right;
}

h2.logo{
background-color: blueviolet;
text-align: center;
width: 6rem;
height: 6rem;
display: grid;
align-items: center;
border-radius: 50%;
}


.wrapper{
    border: 2px black solid;
    margin: 0 auto;
    max-width: 40rem;
}

article{
    background-color: white;
    border: 1px double lightcoral;
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

footer{
    background-color: black;
    color: white;
    padding:1rem;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
}


/*gen. link*/

a:link{
    color: cornflowerblue;
}

a:visited{
    color: pink;
}

a:hover{
    color: forestgreen;
}
a:active{
    color: black;
}

/*header link*/

header a:link{
    color:white;
    text-decoration:none;
}

header a:visited{
    color: pink;
    text-decoration:none;
}
header a:hover{
    color: forestgreen;
    text-decoration:underline;
}
header a:active{
    color: white;
    text-decoration:underline;
}