 header{ 
        font-family: 'gravitas one';
        text-align: center;
        padding: 2rem;
        padding-top: 10px;   
        padding-bottom: 0;
    }
    #name_logo{
        width: 300px;
        height: auto;
        background-color: #EDDDD4;
        padding: 1rem 3rem;
        border-radius: 50px;
        filter: drop-shadow(8px 8px 10px black);
    }

    h1{
        font-size: 3rem;
        margin-bottom: 0;
        font-family: 'gravitas one';
    }   

    body{
        margin: 0;
    }

    h2{
        font-family: 'gravitas one';
        color: #EDDDD4;
        font-size: x-large;
    }

    .nav_button{
        background-color: #EDDDD4;
        filter: drop-shadow(8px 8px 10px black);
        color: #C44536;
        border-radius: 50px;
        align-content: center;
    }

    nav{
        display: flex;
        font-size: 2rem;    
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    nav li{
        list-style-type: none;
        font-family: 'gravitas one';
    }

    nav a{
        text-decoration: none;
        padding:25px;
        color:black;
    }

    nav ul{
        display:flex;
        justify-content: center;
        padding: 25px;
        margin: 1rem;
        flex-wrap: wrap;
        gap: 2rem;
    }

        /* drop down */
    .dropbtn {
        background-color: #EDDDD4;
        filter: drop-shadow(8px 8px 10px black);
        color: #C44536;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        border-radius: 50px;
        padding: 1rem;
        font-family: 'gravitas one';
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
    .dropdown-content a{
        color: #C44536;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .dropdown-content a:hover{
        background-color: #772E25;
    }


    .dropdown:hover .dropdown-content{
        display: block;
    }


    /* home page content */
    #home_page_first_half{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        row-gap: 2rem;
        margin: 5rem;
    }

    #home_page_body, #about_me_body{
        background-image: url(../assets/art264_web_pattern.jpg);
        background-repeat: repeat;
        background-size: contain;
    }


    
    #bio{
        background-color: #C44536;
        font-size: 1rem;
        justify-content: space-between;
        text-align: right;
        grid-row:1/2;
        grid-column: 1/2;
    }

    #bio_name{
        font-family: 'gravitas one';
        font-size: 3rem;
        color: #EDDDD4;
        margin: 5px;
        padding-right: 10px;
        padding-top: 2px;
    }

    #bio_content{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
        color: #EDDDD4;
        padding: 10px;
        margin: 0;
    }

    #bio_image{
        grid-column: 2/3;
        grid-row: 1/2;
        object-fit: cover;
        width: 100%;
        height: 100%
    }


    #experience{
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: #197278;
        font-size: 1rem;
    }

    #experience_title{
        font-family: 'gravitas one';
        font-size: 3rem;
        color: #EDDDD4;
        margin: 5px;
        padding-left: 10px;
        padding-top: 2px;
    }

    #experienced_list{
        font-family: Arial, Helvetica, sans-serif;
        color: #EDDDD4;
        padding: 10px;
        list-style-type: none;

    }

    #experience_image{
        object-fit: cover;
        width: 100%;
        height: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .experience_list_item{
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: right;
        font-size: 2rem;
        text-align: center;
    }

    

        /* sections */
    #home_page_second_half{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        row-gap: 2rem;
        column-gap:2rem;
        align-content: center;
        text-align: center;
        margin: 8%;
        margin-top: 2%;
    }

    #home_page_about_me{
        grid-row: 1/2;
        grid-column: 1/4 ;
        background-color: #C44536;
        font-size: 1rem;
        text-align: center;
        justify-items: center;
        align-items: center;
        padding: 1rem;        
        border-radius: 20px;
    }
    
    #home_page_about_me_title{
        font-family: 'gravitas one';
        font-size: 3rem;
        color: #EDDDD4;
        margin: 5px;
        top: 2.5px;
    }

    #home_page_about_me_summary{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        color: #EDDDD4;
        padding: 10px;
    }

    #home_page_projects_title{
        grid-row: 2/3;
        grid-column: 2/3; 
        border-radius: 20px;
        background-color: #197278;
        padding: 1rem;
    }

    #home_page_photography{
        grid-row: 3/4;
        grid-column: 1/2;
        background-color:#197278;
        border-radius: 20px;
        padding: 1rem;
        filter: drop-shadow(8px 8px 10px black);
    }

    #home_page_video{
        grid-column: 2/3;
        grid-row: 3/4;
        background-color:#197278;
        border-radius: 20px;
        padding: 1rem;
        filter: drop-shadow(8px 8px 10px black);
    }

    #home_page_design{
        grid-column: 3/4;
        grid-row: 3/4;
        background-color:#197278;
        border-radius: 20px;
        padding: 1rem;
        filter: drop-shadow(8px 8px 10px black);
    }

        /* section align & size */

    #home_page_photography_content, #home_page_video_content, #home_page_design_content{
        height: 400px;
        width: auto;
    }


        /*home page resume */
    #home_page_resume{
        grid-row: 4/5;
        grid-column: 2/3;
        border-radius: 20px;
        background-color: #C44536;
        padding: 1rem;
        filter: drop-shadow(8px 8px 10px black);
        text-align: center;
        font-family: 'gravitas one';
        color: #EDDDD4;
        font-size: x-large;
    }

    #home_page_resume :active{
        text-decoration: none;
    }

    a:link, a:visited, a:hover, a:active{
        text-decoration: none;
        color: black;
    }

    

        /*about me PAGE*/

    #about_me_main{
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 2rem;
        grid-template-columns: auto auto;
        padding: 5rem;
    }

    #meet_mariana{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
        padding: 5%;
        background-color: #772E25;
        color: #EDDDD4;
    }

    #about_me_title{
        font-family: 'gravitas one';
        font-size: 3rem;
        margin-top: 5%;
        color: #EDDDD4;
    }

    #about_me_summary{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20pt;
        text-align:center;
    }

    #about_me_img_one{
        grid-row: 1/2;
        grid-column: 1/2;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


        /* about me marketing*/

    #marketing_assistant{
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: right;
        padding: 20px;
        background-color: #772E25;
        color: #EDDDD4;
    }

    #about_me_ma_title{
        font-family: 'gravitas one';
        font-size: 3rem;
        text-align: center;
        margin-top: 8px;
        color: #EDDDD4;
    }

    #about_me_ma_summary{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15pt;
        text-align: right;
        list-style-type: none;
        font-weight: bold;
    }

    #about_me_img_two{
        grid-row: 2/3;
        grid-column: 2/3;
        object-fit:cover;
        width: 100%;
        height: 100%;
    }

        /*freelance*/

    #about_me_img_three{
        grid-row: 3/4;
        grid-column: 1/2;
        object-fit: cover;
        height: 100%;
        width: 100%;   
    }

    #freelance{
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 10%;
        margin-bottom: 0;
        background-color: #772E25;
        color: #EDDDD4;
    }

    #about_me_freelance_title{
        font-family: 'gravitas one';
        font-size: 3rem;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 60px;
    }

    #about_me_freelance_summary{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15pt;
        text-align: left;
        font-weight: bold;
        align-content: center;
        line-height: 150%;
    }

    #about_me_freelance_summary li{
        list-style-type: none;
    }



        /* projects */

    #projects_wrapper{
        background-color: #EDDDD4;
    }


    #projects_main{
        display: grid;
        grid-template-rows: repeat(10, auto);
        grid-template-columns: repeat(2,auto);
        column-gap: 2rem;
        row-gap: 2rem;
        margin: 4rem;
    }

        /* photography */

    #projects_main h1{
        grid-row: 1/2;
        grid-column: 1/4;
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
    }

    figcaption{
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
        Helvetica, Arial, "Lucida Grande", sans-serif;
        display: flex;
        justify-content: space-between;
    }


    .project_img{
        object-fit: cover;
        height: 100%;
        width: 100%; 
    }

    #vintage_bash{
        grid-column: 1/2;
        grid-row: 2/4;
    }

    #feast{
        grid-column: 2/3;
        grid-row: 2/4;
    }

    #prof_bmw{
        grid-column: 1/2;
        grid-row: 4/6;
    }

    #hc_horz{
        grid-column: 2/3;
        row-gap: 5px;
    }

    #hc_sprit{
        grid-row: 4/5;
    }

    #hc_band{
        grid-row: 5/6;
    }

    #loco{
        grid-column: 1/2;
        grid-row: 6/7;
    }

    #car_detail{
        grid-column: 2/3;
        grid-row: 6/7;
    }

    #miata_horz{
        grid-column: 1/2;
        row-gap: 5px;
    }

    #miata_far{
        grid-row: 7/8;
    }

    #miata_close{
        grid-row: 8/9;
    }

    #album{
        grid-column: 2/3;
        grid-row: 7/9;
    }



    /* Digital design */
    #projects_main a{
        filter: drop-shadow(8px 8px 10px black);
    }

    #projects_main figcaption{
        padding-top: 1rem;
    }

    #brand_guide{
        grid-column: 1/2;
        grid-row: 2/4;
    }

    footer{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
        text-align: left;
        color: #EDDDD4;
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        grid-template-rows: auto auto;
        background-color: #197278;
    }

    #footer_name{
        grid-column: 1/2;
        grid-row: 1/2;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #footer_h3{
        font-family: 'gravitas one';
        color: black;
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: left;
        justify-self: baseline;
    }

    #footer_important_links{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: left;
    }

    #footer_important_links_content{
        font-weight: bold;
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: left;
        list-style-type: none;
        margin-left: 0;
    }

    #footer_socials{
        grid-column: 3/4;
        grid-row: 1/2;
    }

    footer address{
        font-weight: bold;
        grid-column: 3/4;
        grid-row: 2/3;
        text-align: left;
    }

    footer h2{
        padding-bottom: 0.5rem;   
    }

    footer :visited{
        text-decoration: none;
        color: black;
    }

    footer a{
        text-decoration: none;
        margin-left: 0;
    }


    footer ul{
        padding-left: 0;
        margin-left: 0;
        list-style-type: none;
    }







    @media screen and (min-width: 300px) and (max-width: 1050px){

        #bio, #experience{
            text-align: center;
            padding-left: 8%;
            padding-right: 8%;
        }

        #home_page_first_half, #home_page_second_half, #about_me_main{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .home_page_sections{
            width:70%;
            height: fit-content;
        }

        #home_page_about_me_summary{
            font-size: 2rem;
        }
        /* about me */
        #about_me_summary{
            font-size: 2rem;
        }
        #about_me_ma_summary, #about_me_freelance_summary{
            text-align: center;
        }
        footer{
            display: flex;
            flex-direction: column;
            margin: 0;
            text-align: center;
            align-content: center;
            width:auto;
            height: auto;
            padding-left: 1rem;
        }

        #footer_socials, #footer_h3, #footer_important_links, #footer_name, #footer_important_links_content, footer address{
            text-align: center;
            justify-items: center;
            align-items: center;
            font-size: 3rem;
        } 

    }
    @media (min-width:1100px){
        #home_page_main{
        grid-template-rows:max-content;
        height:100%;
        width: auto;
        }
    }